@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Json Minimized</h1>
    <p class="lead">Show an example of json minimzed</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start fiddler and press buttons</h2>
        <p>
            <a href="javascript:ShowEmployees()">Show Departments and Employees full data</a>
        </p>
        

    </div>
    <div class="col-md-4">
        <h2>Start fiddler and press buttons</h2>
        <p>
            <a href="javascript:ShowEmployeesMin()">Show Departments and Employees full data - transfer minimized</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Thank you</h2>
        <p>Andrei Ignat</p>
        <p><a class="btn btn-default" href="http://msprogrammer.serviciipeweb.ro/">Learn more &raquo;</a></p>
    </div>
</div>

<div>
    <div data-bind="foreach: departments">
        <h3 data-bind="text: NameDepartment"></h3>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Manager Name</th>

                </tr>
            </thead>
            <tbody data-bind="template: { name: 'employeeTemplate',
                                  foreach: Employees,
                                  as: 'employee' }"></tbody>
        </table>


    </div>

</div>
@section scripts{
    <script type="text/html" id="employeeTemplate">
        <tr>
            <td>
                <span data-bind="text: employee.FirstName"></span>
            </td>
            <td>
                <span data-bind="text: employee.LastName"></span>
            </td>
            <td>

                <span data-bind="text: employee.ManagerName"></span>
            </td>
        </tr>
    </script>
    <script>
        function createObjectMapped(minObject, dictProp) {
            var obj = new Object();
            
            for (var prop in dictProp) {

                obj[dictProp[prop]] = minObject[prop];

            }
            return obj;
        }
        function ShowEmployeesMin() {
            
            var urlEmp = '@Url.Content("~/Home/RequestEmployeesMinimizing")';
            $.ajax({
                type: "POST",
                url: urlEmp,
                data: null,
                datatype: "JSON",
                contentType: "application/json; charset=utf-8",
                success: function (returndata) {
                    if (returndata.ok) {
                        window.alert("Departments transferred: " + returndata.departmentsMin.length);
                        returndata.departments = [];
                        $.each(returndata.departmentsMin,function(index, departmentMin)
                        {
                            var dep = createObjectMapped(departmentMin, returndata.dDep);
                            //mapping employees of the department
                            dep.Employees = [];
                            $.each(departmentMin.E, function (index, employeeMin) {
                                dep.Employees.push(createObjectMapped(employeeMin, returndata.dEmp));
                            });
                            returndata.departments.push(dep);

                        });

                        ko.applyBindings(returndata);

                    }
                    else {

                        window.alert(' error : ' + returndata.message);
                    }

                }
            });
        }
        function ShowEmployees() {
            
            var urlEmp = '@Url.Content("~/Home/RequestEmployees")';
            $.ajax({
                type: "POST",
                url: urlEmp,
                data: null,
                datatype: "JSON",
                contentType: "application/json; charset=utf-8",
                success: function (returndata) {
                    if (returndata.ok) {
                        window.alert("Departments transferred: " + returndata.departments.length);
                        ko.applyBindings(returndata);

                    }
                    else {

                        window.alert(' error : ' + returndata.message);
                    }

                }
            });
        }


    </script>
}
